html {
  scroll-behavior: smooth;
  color:white;
  font-family: acme;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: acme;
  background-color: #080e18;
  color: white;
}

.mystyle{
  margin: 0;
  font-size: 28px;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: 080e16;
    }
}


p{
	  font-family: acme;
	font-size: 28px;
}

.header {
  padding: 0px;
  text-align: center;
  font-family: acme;

}
#image2{
  padding: 0px;
  text-align: center;  
  
}

/*Navigation area */
#navbar {
  width: 100%;
  overflow: hidden;
  background-color: #05090f;
  font-family: acme;
}
#test{
	 padding-top: -15px;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: acme;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #99AAB5;
  color: black;
 .invert { filter: invert(100%); }
}

#navbar a.active {
  background-color: grey;
  color: black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.topnav-right {
  float: right;

}
/* End Navigation area */

div .div{
	background-color: #000;
	height: 22px;
}

#title{
	font-family: acme;
	text-align:center;
	text-shadow: 2px 2px black;
	size: 133px;
	color:white;
}

#intro{
    font-family: acme;	
	text-align:center;
	color:white;

}

#discordtext{
	text-align:center;
	text-shadow: 2px 2px black;
	size: 133px;
	color:white;
	font-family: acme;
}

#discordtext2{

	padding-top: -70px;
	text-align:center;
	text-shadow: 2px 2px black;
	size: 13px;
	color:white;
	font-family: acme;
} 

#discord{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:white;
} 
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  table {
    width:100%;
	color:white;
	font-family: acme;
  }

table{
	border-width: 10px;
	border-color: #3333FF;
	border-collapse: collapse;
	color:white;
	
}

table td 1{
	background-color: #336666;
	font-family: acme;
	color: white;
}
table-caption{
	text-align: center;
	font-family: acme;
	color:white;
	}
	
	
/*Footer*/

footer {
	font-family: acme;
    display: block;
}


/* social area in the footer */
#social{
  overflow: hidden;
}

#social a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}