
html {
	scroll-behavior: smooth;
	
	
}

#youtube {
    font-size: 301px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  background-color: #451926;
}

.logo {
  position: absolute;
  left: 42%;
  top: -2.5%;
  cursor: pointer;
  size: 120%;
  padding: 0px -20px;
}

.nav__links a,
.cta,
.overlay__content a {
	display: fixed;
  font-family: 'Lilita One', cursive;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  padding-left: 100px;
}

.nav__links {
		display: fixed;
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 19px 55px;
    position: relative;
  background-color: #7289da;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  left: 42%;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #2c2f33;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

body {
  margin: 0;
  font-size: 28px;
  font-family: 'Lilita One', cursive;
  background-color: #5C2233;
  color: white;
}

#title{
	font-family: 'Lilita One', cursive;
	text-align:center;
	text-shadow: 2px 2px black;
	size: 133px;
	color:white;
}

#link{
	font-family: 'Lilita One', cursive;
	text-align:center;
	size: 133px;
	color:white;
	padding-bottom: 13px;
}

#item{
	padding-right: 15px;
	
}

#emp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#intro{
    font-family: 'Lilita One', cursive;	
	text-align:center;
	color:white;

}

 #center{
    left: 50%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
 }
	  
#Y{
	color: #00FF00;
}

  table {
	color:white;
	font-family: 'Lilita One', cursive;
  }

table{
	border-width: 10px;
	border-color: #3333FF;
	border-collapse: collapse;
	color:white;
	font-family: 'Lilita One', cursive;
	
}

table td 1{
	background-color: #336666;
	font-family: 'Lilita One', cursive;
	color: white;
}
table-caption{
	text-align: center;
	font-family: 'Lilita One', cursive;
	color:white;
	}
	
	
/* FOOTER */

a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.footer {
    left: 0;
    padding-bottom: 0px;
	right: -10;
	padding-top: 10px;
    width: 100%;
    background-color: #451926;
    color: white;
    text-align: center;
	
}
