body
{
  font-family: Bahnschrift, SemiBold	;
  background: url("https://www.kaitlynplayz.xyz/image.png") no-repeat center fixed;
  background-size:cover;
  color: B9A4C0;
	text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
div.allpage
{
  width: 50%;
  margin: auto; 
  background: #5B4F60;
  padding: 20px;
  opacity: 0.95;
  border-radius: 20px;
  border:5px solid #CFAAF2; 
}

#no {
  pointer-events: none;
}

#Center {
  text-align: center;

}






hr
{  
  box-shadow: 1px 1px 1px black;
}
h1
{
  color: #B9A4C0;
  font-size: 50px;
}
h2
{
  font-size: 40px;
  padding-right:50px;
  color: #B9A4C0;
}
h3
{
  font-size: 40px;
  color: #B9A4C0;
}
h4
{
  font-size: 40px;
  padding-left:10px;
  color: #B9A4C0;
}
img.one
{
  margin: 10px;
  width: 244px;
  height: 480px;
  float: left;
}

img.onee
{
  margin: 10px;
  width: 270px;
  height: 297px;
  float: left;
}

img.oneee
{
  margin: 10px;
  width: 333px;
  height: 500px;
  float: left;
}

img.two
{
  margin: 10px;
  width: 270px;
  height: 297px;
  float: right;
}
img.three
{
  margin: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 5px black;
}
p
{
  margin: 10px;
  text-align: justify;
  font-size: 20px;
}
p.theleft
{
  margin: 10px;
  text-align: justify;
  font-size: 20px;
}
p.thecenter
{
  text-align: center;
  font-size: 20px;
}
a
{
  color: white;
}




